section.service-section{
    background-color: #660000;
    padding:30px 0;

    // Service List
    .service-list{
        padding: 20px 0;
        .service-item{
            background-color: $white;
            text-align: center;
            padding: 20px 33px;
            &:hover{
                background-color: $primaryColor;
                color: $white;
            }
        }
    }

    // Service Heading
    .section-heading{
        padding: 40px 0;
        text-align: center;
        .container {
            background: #303030;
            height: 5px;
            position: relative;
            span{
                background: #303030;
                padding: 10px 15px;
                border-radius: 5px;
                font-size: 32px;
                color: white;
                position: absolute;
                bottom: -30px;
                left: 40%;
            }
        }
    }

    // Latest Work
    .latest-work{
        padding: 10px 0;
        text-align: center;
        .latest-post {
            padding: 15px 0;
            
            img{
                width: 100%;
                position: relative;
                border:5px solid $white;
                &:hover{
                    border-color: $primaryColor;
                }
            }
            .image-hover{
                background-color: $black;
                position: absolute;
                bottom: 20px;
                left: 20px;
                width: 89%;
                h3{
                    color: $white;
                }
            }
            
        }
    }
}